[submodule "torchsearchsorted"]
	path = torchsearchsorted
	url = https://github.com/aliutkus/torchsearchsorted.git

[submodule "manopth"]
	path = mano/manopth
	url = https://github.com/IridescentPig/manopth.git